<style>
  .popup-container {
    position: relative;
    top: 0;
    left: 0;
    /*width: 100%;*/
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100%;
    max-width: inherit;
  }
  .form-input {
    width: 80%;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
</style>
<div id="updatePopup" class="popup-container">
  <div class="form-container">
    <h2>Property Information</h2>
    <form id="propertyForm" #updateform="ngForm" (ngSubmit)="checkIfCreatingNew(updateform)" fxLayout="row wrap" style="height: auto">
      <div fxFlex="0 1 50" fxLayout="row wrap">
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="address">Address:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="text" id="address" name="address" class="form-input" required [(ngModel)]="updatedProperty.address" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="details">Property Details:</label><br>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <textarea id="details" name="details" class="form-input" required [(ngModel)]="updatedProperty.details" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="bathrooms">Number of Bathrooms:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="number" id="bathrooms" name="bathrooms" class="form-input" required [(ngModel)]="updatedProperty.nBathrooms" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="bedrooms">Number of Bedrooms:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="number" id="bedrooms" name="bedrooms" class="form-input" required [(ngModel)]="updatedProperty.nBedrooms" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="rooms">Number of Rooms:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="number" id="rooms" name="rooms" class="form-input" required [(ngModel)]="updatedProperty.nRooms" [ngModelOptions]="{standalone: true}">
        </div>

      </div>
      <div fxFlex="0 1 50" fxLayout="row wrap">
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="postalcode">Postal Code:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="text" id="postalcode" name="postalcode" class="form-input" required [(ngModel)]="updatedProperty.postalCode" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="price">Price:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="number" id="price" name="price" class="form-input" required [(ngModel)]="updatedProperty.price" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="propertytype">Property Type:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <select id="propertytype" name="propertytype" class="form-input" required [(ngModel)]="updatedProperty.propertyType" [ngModelOptions]="{standalone: true}">
            <option value="House">House</option>
            <option value="Apartment">Apartment</option>
            <option value="Condo">Condo</option>
            <option value="School">School</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="yearbuilt">Year Built:</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right">
          <input cFormControl type="number" id="yearbuilt" name="yearbuilt" class="form-input" required [(ngModel)]="updatedProperty.yearBuilt" [ngModelOptions]="{standalone: true}">
        </div>
        <div fxFlex="30" fxLayoutAlign="left center">
          <label for="formFileMultiple">Images</label>
        </div>
        <div fxFlex="70" fxFlexAlign="right" >
          <input id="formFileMultiple" multiple type="file" class="form-input" [(ngModel)]="selectedFiles" (change)="onFileSelect($event)" [ngModelOptions]="{standalone: true}"/>
        </div>

      </div>
    </form>
    <div fxLayout="row" style="padding-top: 5%;">
      <div fxFlex="50" fxLayoutAlign="center center">
          <button cButton type="submit" form="propertyForm" class="form-button" size="lg">Save</button>
      </div>
      <div fxFlex="50" fxLayoutAlign="center center">
        <button cButton type="button" class="form-button" (click)="closePopup()" size="lg">Cancel</button>
      </div>
    </div>
  </div>
</div>
