.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.registration-button {
  margin-top: 30px;
}

.broker-list {
  display: flex;
  align-items: left;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.icon-white {
  color: white;
}
