<div id="filterContainer">
  <button class="new-button" (click)="openPopUp()">Create new Listing</button>
  <div id="filter-button-div">
    <button cButton color="light" (click)="toggleCollapse()" class="me-1">
      <svg cIcon name="cilListFilter" size="xl" title="Filter Icon"></svg>
    </button>
  </div>
  <div id="filter-select-div">

    Sort By:
    <select class="filter-select" aria-label="sort-by-select" cSelect (change)="onSortByChange($event)">
      <option>Sort By</option>
      <option value="price">Price</option>
      <option value="title">Title</option>
      <option value="year">Year</option>
    </select>
  </div>
</div>
<div id="filter-collapsable-menu" [visible]="visible" cCollapse>
  <mat-card id="filter-card" class="mt-3 shadow">
    <c-card-body>
      <form cForm>
        <div class="mb-3">
          <label cLabel for="propertySearchField">Search for Properties</label>
          <input cFormControl id="propertySearchField" [(ngModel)]="filterValue" [ngModelOptions]="{standalone: true}" >
          <div cFormText>
            Search for keywords or broker name
          </div>
        </div>
        <div class="mb-3">
          <label cLabel for="nRooms">Rooms: </label>
          <select id="nRooms" class="filter-select" cSelect  [(ngModel)]="nRooms" [ngModelOptions]="{standalone: true}" >
            <option value="any">Any</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10+">10+</option>
          </select>
        </div>
        <div class="mb-3">
          <label cLabel for="nBedrooms">Bedrooms: </label>
          <select id="nBedrooms" class="filter-select" cSelect [(ngModel)]="nBedrooms" [ngModelOptions]="{standalone: true}">
            <option value="any">Any</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10+">10+</option>
          </select>
        </div>
        <div class="mb-3">
          <label cLabel for="nBathrooms">Bathrooms: </label>
          <select id="nBathrooms" class="filter-select" cSelect [(ngModel)]="nBathrooms" [ngModelOptions]="{standalone: true}">
            <option value="any">Any</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10+">10+</option>
          </select>
        </div>
        <div class="mb-3">
          <label cLabel for="minPriceRange">Minimum price range</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input cFormControl id="minPriceRange" type="number" (change)="onPriceFilterChange($event)" [(ngModel)]="minPriceRange" [ngModelOptions]="{standalone: true}">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <div class="mb-3">
          <label cLabel for="maxPriceRange">Maximum price range</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input cFormControl id="maxPriceRange" type="number" (change)="onPriceFilterChange($event)" [(ngModel)]="maxPriceRange" [ngModelOptions]="{standalone: true}">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <input cButton color="primary" type="submit" value="Search" (click)="onSubmitFilterForm()">
      </form>
    </c-card-body>
  </mat-card>
</div>
<div class="content .z-depth box" *ngIf="properties && images && !isLoading; else loadingPage">
  <div fxLayout="row wrap" fxLayoutGap="3% grid" style="width: 100%">
    <div fxFlex="0 1 25" *ngFor="let property of properties">
      <ng-container
        *ngIf="property.id && getImageUrls(property.id) && getImageUrls(property.id)[0] && getImageUrls(property.id)[0].src && !isLoading; else loadingPage">
        <mat-card class="z-depth" style="border-radius: 15px; padding: 7.5%; width: 100%; height: 100%" [routerLink]="isMainPage ? 'listings/' + property.id : property.id">
          <c-carousel [interval]="0">
            <c-carousel-inner style="border-radius: 15px;">
              <c-carousel-item *ngFor="let image of getImageUrls(property.id)">
                <div class="image-container">
                  <img
                    mat-card-image
                    style="border-radius: 15px;"
                    [src]="image.src"
                    alt="{{ property.details }}"
                    class="d-block w-100"
                    loading="lazy"
                  />
                </div>
              </c-carousel-item>
            </c-carousel-inner>
            <c-carousel-indicators></c-carousel-indicators>
            <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
            <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
          </c-carousel>
          <mat-card-header>
            <mat-card-title style="color: #125699; font-size: medium">{{ property.address }}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="-webkit-line-clamp: 4;" fxFlex="30">
            <div class="truncate">
              <p>{{ property.details }}.</p>
            </div>
            <h2>
              {{ property.price }}$
            </h2>
          </mat-card-content>
          <mat-card-actions>
            <svg cIcon name="cilBed" size="xl" title="Bed Icons"></svg>
            <span
                    style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nBedrooms}}</span>
            <svg cIcon name="cilBath" size="xl" title="Bath Icons"></svg>
            <span
                    style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nBathrooms}}</span>
            <svg cIcon name="cilRoom" size="xl" title="Room Icons"></svg>
            <span
                    style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nRooms}}</span>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
<ng-template #loadingPage>

  <mat-card class="z-depth" style="border-radius: 15px; padding: 7.5%; text-align: center;">
    <div class="d-flex justify-content-center" style="margin-bottom: 15px">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    Loading Properties...
  </mat-card>

</ng-template>
