<style>

  .update-button {
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 2px;
    font-size: small;
  }
  .update-button:hover {
    background-color: #0056b3;
  }
  .new-button {
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    font-size: small;
  }
  .new-button:hover {
    background-color: #0056b3;
  }
  .content {
  display: flex;
    margin-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  }
  .image-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cardtest{
  width:100%;
  min-height:100%;
  min-width: 30%;
  }
  .mat-mdc-card-header, .mat-mdc-card-content{
    padding: 0 !important;

  }
  .mat-mdc-card-header{
  margin-top: 10%;
  }
  .mat-mdc-card-actions{
  padding: 0 !important;
  }
.listings-container{
  border: 1px solid #333333;
}
.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 90%;
}
.filter-select{
  display: inline-block;
  vertical-align: middle;
  width:7em;
}
#filterContainer{
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  overflow: hidden;
}
#filter-button-div {
  float: left;
}
#filter-select-div{
  float: right;
}
#filter-collapsable-menu{
  margin-right: 10%;
  margin-left: 10%;
}
#filter-card{
  padding: 3%;
}
</style>
<div id="filterContainer">
  <button class="new-button" (click)="openPopUp()">Create new Listing</button>
  <div id="filter-button-div">
    <button cButton color="light" (click)="toggleCollapse()"  class="me-1" > <svg cIcon name="cilListFilter" size="xl" title="Filter Icon"></svg></button>
  </div>
 <div id="filter-select-div">

   Sort By:
   <select class="filter-select" aria-label="Default select example" cSelect>
     <option>Sort By</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
   </select>
   Order:
   <select class="filter-select" aria-label="Default select example" cSelect>
     <option>Sort By</option>
     <option value="1">One</option>
     <option value="2">Two</option>
     <option value="3">Three</option>
   </select>
 </div>
</div>
<div id="filter-collapsable-menu" [visible]="visible" cCollapse>
  <mat-card id="filter-card" class="mt-3 shadow">
    <c-card-body>
      <div class="mode-selector">
        <c-form-check>
          <input cFormCheckInput id="checkOne" type="radio" [(ngModel)]="selectedOption" [value]="'broker'"/>
          <label cFormCheckLabel for="checkOne">Broker</label>
        </c-form-check>
        <c-form-check>
          <input cFormCheckInput id="checktwo" type="radio" [(ngModel)]="selectedOption" [value]="'properties'"/>
          <label cFormCheckLabel for="checktwo">Properties</label>
        </c-form-check>
      </div>
      <span class="fill-remaining-space">
    <form>
      <input type="text"
             [placeholder]="selectedOption === 'broker' ? 'Search for brokers...' : 'Search for properties...'">
      <button class="primary" type="button">Search</button>
    </form>
  </span>

      <div>
        <label for="bedrooms-filter">Bedrooms:</label>
        <input type="number" id="bedrooms-filter" min="1" value="1">

        <label for="bathrooms-filter">Bathrooms:</label>
        <input type="number" id="bathrooms-filter" min="1" value="1">
      </div>

      <c-input-group class="mb-3">
        <span cInputGroupText>$</span>
        <input aria-label="Amount (to the nearest dollar)" cFormControl />
        <span cInputGroupText>.00</span>
      </c-input-group>
      <mat-slider  min="0" max="100000" step="1000" discrete="true">
        <input matSliderStartThumb>
        <input matSliderEndThumb>
      </mat-slider>
    </c-card-body>
  </mat-card>
</div>
<div class="content .z-depth box" *ngIf="properties && images; else loadingPage">
  <div fxLayout="row wrap" fxLayoutGap="3% grid" style="width: 100%" >
    <div class="cardtest" fxFlex="0 1 25" *ngFor="let property of properties">
      <ng-container *ngIf="property.id && getImageUrls(property.id) && getImageUrls(property.id)[0] && getImageUrls(property.id)[0].src; else loadingPage">
      <mat-card class="z-depth cardtest" style="border-radius: 15px; padding: 7.5%;">
        <c-carousel [interval]="0" >
          <c-carousel-inner style="border-radius: 15px;">
            <c-carousel-item  *ngFor="let image of getImageUrls(property.id)">
              <div class="image-container">
                <img
                  mat-card-image
                  style="border-radius: 15px;"
                  [src]="image.src"
                  alt="{{ property.details }}"
                  class="d-block w-100"
                  loading="lazy"
                />
                </div>
              </c-carousel-item>
            </c-carousel-inner>
            <c-carousel-indicators></c-carousel-indicators>
            <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
            <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
          </c-carousel>
          <mat-card-header>
            <mat-card-title style="color: #125699; font-size: medium">{{ property.address }}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="-webkit-line-clamp: 4;" fxFlex="30">
          <div class="truncate">
              <p>{{ property.details }}.</p>
            </div>
            <h2>
              {{ property.price }}$
            </h2>
          </mat-card-content>
          <mat-card-actions>
            <svg cIcon name="cilBed" size="xl" title="Bed Icons"></svg>
            <span style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nBedrooms}}</span>
            <svg cIcon name="cilBath" size="xl" title="Bath Icons"></svg>
            <span style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nBathrooms}}</span>
            <svg cIcon name="cilRoom" size="xl" title="Room Icons"></svg>
            <span style="margin-left: 8px; margin-right: 8px; font-size: 14px; font-weight: bold">{{property.nRooms}}</span>
            <button class="update-button" (click)="openUpdateListingForm(property)">Update</button>
            <button class="update-button" (click)="deleteListing(property.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
  </div>
<ng-template #loadingPage>

  <mat-card class="z-depth cardtest" style="border-radius: 15px; padding: 7.5%; text-align: center;">
    <div class="d-flex justify-content-center" style="margin-bottom: 15px">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    Loading Properties...
  </mat-card>

</ng-template>
