h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-md-wrap{
  width: fit-content;
}

.offer{
  border-style: double;
  border-color: black;
  width: 100%;
  padding: 5%;
}

li{
  padding: 5%;
}


button{
  width: inherit;
  height: inherit;
}

.offerList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

tr{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttons{
  margin-top: 20%;
}
.page-title {
  font-family: var(--mat-toolbar-title-text-font);
  line-height: var(--mat-toolbar-title-text-line-height);
  font-weight: var(--mat-toolbar-title-text-weight);
  letter-spacing: var(--mat-toolbar-title-text-tracking);
  width: 100%;
  text-align: center;
  padding-top: 5%;
  font-size: xx-large
}

