<div class="page-title text-dark">
  Offers
</div>
<c-container class="offerList" class="flex-md-wrap">
  <c-card *ngFor="let offer of offers" class="offer">
    <c-row>
      <c-col>
        <div>
          <c-row>
            <c-col [sm]="2">
              <svg cIcon name="cilContact" size="xxl" title="Contact Icon"></svg>

            </c-col>
            <c-col [sm]="10">
              <li cListGroupItem class="fill-remaining-space">{{clients.get(offer.id!!)?.name}}</li>
            </c-col>
          </c-row>
        </div>
        <div>
          <c-row>
            <c-col [sm]="2">
              <svg cIcon name="cilHouse" size="xxl" title="Contact Icon"></svg>
            </c-col>
            <c-col [sm]="10">
              <a href="/listings/{{properties.get(offer.id!!)?.id}}">
                <li cListGroupItem class="fill-remaining-space">{{properties.get(offer.id!!)?.address}}</li>
              </a>
            </c-col>
          </c-row>

        </div>
        <div>
          <c-row>
            <c-col [sm]="2">
              <svg cIcon name="cilDollar" size="xxl" title="Contact Icon"></svg>

            </c-col>
            <c-col [sm]="10">
              <li cListGroupItem class="fill-remaining-space">{{offer.offer}} $</li>
            </c-col>
          </c-row>

        </div>
        <div>
          <c-row>
            <c-col [sm]="2">
              <svg cIcon name="cilTask" size="xxl" title="Contact Icon"></svg>
            </c-col>
            <c-col [sm]="10">
              <li cListGroupItem class="fill-remaining-space">{{offer.status}}</li>
            </c-col>
          </c-row>

        </div>
      </c-col>
      <c-col *ngIf="offer.id" class="buttons">
        <button cButton color="success" (click)="acceptOffer(offer)">Accept</button>
        <button cButton color="danger" (click)="refuseOffer(offer)">Refuse</button>
      </c-col>
    </c-row>

  </c-card>
</c-container>

