
form {
  height: fit-content;
  width: fit-content;
  padding: 10%;
  margin-left: 5%;
}

c-header{
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 5%;
  position: fixed;
}


.popup-container {
  position: relative;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: rgba(0, 0, 0, 0);
}
